In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [2]:
#1
df = pd.read_csv('dataset/part4/ch2/members.csv')
df = df.sort_values(['views'], ascending=False)
df.iloc[:10, 9] = df.iloc[9, 9]
cond = df['age'] >= 80
re = round(df[cond]['views'].mean(), 2)
print(re)

5674.04

In [3]:
#2
df = pd.read_csv('dataset/part4/ch2/members.csv')
a = df.iloc[:int(len(df)*0.8), :].copy()
std_before = a['f1'].std()
a['f1'] = a['f1'].fillna(a['f1'].median())
std_after = a['f1'].std()
print(std_before, std_after)
diff = abs(std_before-std_after)
diff = round(diff, 2)
print(diff)

20.574853076621935 17.010788646613268
3.56

In [4]:
#3
df = pd.read_csv('dataset/part4/ch2/members.csv')
std = df['age'].std()
mean = df['age'].mean()

cond = (df['age'] < mean - 1.5 * std) | (df['age'] > mean + 1.5 * std)
result = df[cond]['age'].sum()
print(result)

473.5

In [28]:
#2.1
X_train = pd.read_csv('dataset/part4/ch2/X_train.csv')
y_train = pd.read_csv('dataset/part4/ch2/y_train.csv')
X_test = pd.read_csv('dataset/part4/ch2/X_test.csv')

y_train = y_train.drop('ID', axis=1)
X_train = X_train.drop('ID', axis=1)
ids = X_test.pop('ID')

cols = X_train.select_dtypes(include='O').columns
for col in cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=0)

rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)
y_pred_proba = rf.predict_proba(X_val)
roc_auc = roc_auc_score(y_val, y_pred_proba[:, 1])
print(roc_auc)

pred_proba = rf.predict_proba(X_test)
result = pd.DataFrame({
    'ID': ids,
    'pred': pred_proba[:, 1]
})
result.head()
result.to_csv('result.csv', index=False)

/home/woo/bda/.venv/lib/python3.12/site-packages/sklearn/base.py:1365: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.7605499664654595

In [27]:
df = pd.read_csv('result.csv')
df

         ID  pred
0      8285  0.35
1     10192  0.38
2      8675  0.32
3      5753  0.45
4       448  0.97
...     ...   ...
2195   7193  0.28
2196   4445  0.46
2197   7390  0.40
2198   9977  0.36
2199   5696  0.58

[2200 rows x 2 columns]