In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("part1/ch3/type1_data1.csv")

# 1. 'f5' 컬럼이 0이 아닌 데이터(행)를 구하시오
cond = df['f5'] != 0
df[cond]

# 2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views' 컬럼의 최솟값으로 채워주세요.
min_views_val = df['views'].min()
df['views'] = df['views'].fillna(min_views_val)
df

# 3. 그리고 'views' 컬럼의 중앙값을 계산해 정수로 구하시오
median_views_val = df['views'].median()
median_views_val

np.float64(5924.0)

In [4]:
df = pd.read_csv("part1/ch3/type1_data1.csv")

# 1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오
c = df['subscribed'].value_counts().index[0]
c

# 2. 앞에서 구한 날짜의 일(day) 값을 정수로 구하시오
d = pd.to_datetime(c)
d.day
int(c[-2:])

17

In [5]:
df = pd.read_csv("part1/ch3/type1_data1.csv")

# 1. 결측치가 있는 데이터(행)를 제거하시오
df = df.dropna()
df
# 2. 'views' 컬럼을 'f1' 컬럼으로 나눈 값을 새로운 컬럼으로 추가하시오
df['views/f1'] = df['views']/df['f1']
df
# 3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오
# 3-1
max_val_cond = df['views/f1'] == df['views/f1'].max()
int(df[max_val_cond]['age'].values[0])
# 3-2
sorted = df.sort_values('views/f1', ascending=False)
sorted.reset_index(drop=True, inplace=True)
int(sorted.loc[0, 'age'])
# 3-3
sorted = df.sort_values('views/f1', ascending=False)
int(sorted.iloc[0, 1])

22

In [6]:
df = pd.read_csv("part1/ch3/type1_data1.csv")

# 1. 'views' 컬럼의 결측 데이터를 0으로 대체하시오
df['views'] = df['views'].fillna(0)
df
# 2. 'views' 컬럼에서 상위 10번째 값을 구하시오
df = df.sort_values('views', ascending=False)
df.reset_index(drop=True, inplace=True)
df.loc[9, 'views']
# 3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하시오
df.loc[:9, 'views'] = df.loc[9, 'views']
df.head(10)
# 4. 'views' 컬럼의 전체 합을 정수로 구하시오
int(df['views'].sum())

652812

In [7]:
df = pd.read_csv('part1/ch3/type1_data1.csv')

# 1. 'f4' 컬럼 데이터에 'FJ'가 포함된 데이터를 찾으시오
cond = df['f4'].str.contains('FJ')
df[cond].head()
# 2. 찾은 데이터 중에서 'f2' 컬럼의 평균값을 구하시오 (반올림 후 소수 둘째 자리까지 계산)
round(df[cond]['f2'].mean(), 2)

np.float64(0.61)

In [8]:
# 06
df = pd.read_csv('part1/ch3/type1_data1.csv')

# 1
df.head()
cond1 = df['f3'].isin(['gold'])
cond2 = df['f2'] == 2
re1 = df[cond1 & cond2]
# 2
round(re1['f1'].var(), 2)

np.float64(235.43)

In [9]:
# 07
df = pd.read_csv('part1/ch3/type1_data1.csv')

# 1
df['age'] = df['age'] + 1
df.head()
# 2
cond1 = (df['age'] >= 20) & (df['age'] < 30)
twenties = df[cond1]
cond2 = (df['age'] >= 30) & (df['age'] < 40)
thirties = df[cond2]
re = twenties['views'].mean() - thirties['views'].mean()
print(round(abs(re), 2))

263.13

In [10]:
# 08
df = pd.read_csv('part1/ch3/type1_data1.csv')

# 1
df['subscribed'] = pd.to_datetime(df['subscribed'])
cond = (df['subscribed'].dt.year == 2024) & (df['subscribed'].dt.month == 2)
re = df[cond]
# 2
cond = re['f3'].isin(['gold'])
sum(cond)

5

In [11]:
# 09
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
cond = (df['views'] <= 1000) & ~(df['views'].isna())
re = df[cond]

#2
re['f4'].value_counts().index[0]
re['f4'].mode()[0]

'ISFJ'

In [12]:
# 10
df = pd.read_csv('part1/ch3/type1_data1.csv')

# 1.
df = df.dropna()
# 2
df = df.groupby('city').mean(numeric_only=True)
df
# 3
re = df.sort_values('f2', ascending=False)
re.index[0]

'서울'

In [13]:
# 11
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
df = df.dropna()
#2
max_idx = int(len(df) * 0.7)
df = df.iloc[:max_idx]
df.shape
#3
re = df['views'].quantile(0.75) - df['views'].quantile(0.25)
int(re)

2771

In [14]:
# 12
df = pd.read_csv('part1/ch3/type1_data1.csv')
#1
re = df.isnull().sum().sort_values(ascending=False)
re[:2]
#2
col1 = re.index[0]
df.dropna(axis=0, subset=[col1], inplace=True)
df
#3
col2 = re.index[1]
freq = df[col2].mode()[0]
df[col2] = df[col2].fillna(freq)
df[col2]
#4
print(sum(df['f3'] == 'gold'))
# int(df['f3'].isin(['gold']).sum())

63

In [15]:
# 13
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
f1_is_null = df[df['f1'].isnull()]
f1_is_null
#2
round(f1_is_null['age'].mean(), 1)

np.float64(53.6)

In [16]:
# 14
df = pd.read_csv('part1/ch3/type1_data1.csv')
df.shape
#1
df = df.drop_duplicates()
df.shape
#2
# df['f3'] = df['f3'].fillna(0)
# silvers = df['f3'] == 'silver'
# df[silvers] = 1
# golds = df['f3'] == 'gold'
# df[golds] = 2
# vips = df['f3'] == 'vip'
# df[vips] = 3
df['f3'] = df['f3'].map({
    np.nan: 0,
    'silver': 1,
    'gold': 2,
    'vip': 3,
})
df['f3']
#3
df['f3'].sum()

NameError: name 'np' is not defined

In [ ]:
# 15
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
df = df.select_dtypes(exclude='object')
df
#2
cols = df.select_dtypes(include='number').columns
df[cols] = df[cols].fillna(0)
df
#3
df['sum'] = df.sum(axis=1, numeric_only=True)
sum(df['sum'] > 3000)

88

In [ ]:
# 16
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
q1 = df['views'].quantile(0.25)
q3 = df['views'].quantile(0.75)
iqr = q3 - q1

#2
low = q1 - 1.5*iqr
high = q3 + 1.5*iqr
weird_rows = (df['views'] < low) | (df['views'] > high)
df[weird_rows]
#3
int(df[weird_rows]['views'].sum())

77699

In [ ]:
# 17
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
std1 = df['views'].std()
#2
correct_rows = (df['age'] != 0) & (df['age'] >= 0) | (df['age'] == round(df['age'], 0))
correct_rows
df = df[correct_rows]
std2 = df['views'].std()
#3
round(std1+std2, 2)

np.float64(8279.03)

In [ ]:
# 18
df = pd.read_csv('part1/ch3/type1_data2.csv', index_col="year")

#1
cols1 = df.loc[2001] > df.loc[2001].mean()
re1 = sum(cols1)
#2
cols2 = df.loc[2003] < df.loc[2003].mean()
re2 = sum(cols2)
#3
print(re1 + re2)

202

In [ ]:
# 19
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
df = df.bfill()
df
#2
df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()
#3
idx = df['views'].sort_values(ascending=False).index[2]
df.loc[idx]['city']

'경기'

In [ ]:
# 20
df = pd.read_csv('part1/ch3/type1_data1.csv')

#1
df['subscribed'] = pd.to_datetime(df['subscribed'])
df['subscribed'] = df['subscribed'].dt.month
df = df.groupby('subscribed').sum(numeric_only=True)
df
#2
views = df['views'].sort_values(ascending=True)
views.index[0]

np.int32(11)

In [ ]:
# 21
df = pd.read_csv('part1/ch3/delivery_time.csv')

#1
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
rows1 = df['실제도착시간'] > df['예상도착시간']
lates = df[rows1]
rows2 = lates['거리'] > 7
sum(rows2)

311

In [ ]:
# 22
df = pd.read_csv('part1/ch3/delivery_time.csv')

#1
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds() / 60
df
#2
df = df.groupby('앱종류')['배달시간'].mean()
df
#3
df = df.sort_values(ascending=True)
app = df.index[0]
val = round(df.loc[app], 0)
print(app, val)

배고팡 62.0

In [ ]:
# 23
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['지연여부'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds() > 0
df = df.groupby('결제종류')['지연여부'].agg(['sum', 'count'])
df['result'] = df['sum'] / df['count']
#2
df['result'] = df['result'].sort_values(ascending=False)
round(df.iloc[0]['result'], 2)

np.float64(0.56)

In [ ]:
#24
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
users = df.groupby('user')[['거리']].sum(numeric_only=True)
cond = users['거리'] > 50
indices = users[cond].index[:]
cond = df['user'].isin(indices)
df[cond]['결제종류']
#2
df[cond]['결제종류'].value_counts(ascending=False).index[0]

'카드'

In [ ]:
#25
df = pd.read_csv('part1/ch3/delivery_time.csv')
df['주문시간'] = pd.to_datetime(df['주문시간'])

#1
users = df.groupby('user')['주문시간'].agg(['min', 'max']).reset_index()
users['시간간격'] = users['max'] - users['min']
users['시간간격'] = users['시간간격'].dt.days
users
#2
cond = users['시간간격'] != 0
mean_time_interval = users[cond]['시간간격'].mean()
#3
cond = users['시간간격'] > mean_time_interval
cond.sum()

np.int64(146)

In [ ]:
#26
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['ord_ym'] = df['주문시간'].dt.to_period('M')
re1 = df['ord_ym'].value_counts().index[0]
print(re1)
#2
cond1 = df['ord_ym'] == re1
cond2 = df['앱종류'] == '배고팡'
cond3 = df['결제종류'] == '앱결제'
re2 = len(df[cond1 & cond2 & cond3]) / len(df[cond1 & cond2])
re2 = round(re2, 2)
print(re2)

2022-09
0.31

In [ ]:
#27
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['ord_time'] = df['주문시간'].dt.hour
cond = (df['ord_time'] >= 10) & (df['ord_time'] < 13)
df = df[cond]
df
#2
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds() / (60 * 60)
df['속도'] = df['거리'] / df['배달시간']
cond = df['속도'] >= 50
sum(cond)

1

In [ ]:
# 28
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df.head()
df['ord_ym'] = pd.to_datetime(df['주문시간'])
df['ord_ym'] = df['ord_ym'].dt.to_period('M')
# df['ord_ym'].value_counts()
df = df.groupby('ord_ym').size()
#2
df = df.sort_values(ascending=False)
re = df.index[0]
re = str(re)
re = re.replace('-', '')
print(re)

202209

In [21]:
#29
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
def cal_fee(dist):
    if dist < 5:
        return 2000
    elif dist < 10:
        return 4000
    elif dist < 15:
        return 6000
    elif dist < 20:
        return 8000
    else:
        return 0
df['fee'] = df['거리'].apply(cal_fee)
#2
df['주문시간'] = pd.to_datetime(df['주문시간'])
re = df.groupby(df['주문시간'].dt.to_period('M'))['fee'].sum(numeric_only=True)
#3
re = re.sort_values(ascending=False)
index = re.index[0]
value = re.loc[index]
print(index, value)

2023-06 448000

In [26]:
#30
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df['주문시간'] = pd.to_datetime(df['주문시간'])
weekend = (df['주문시간'].dt.weekday == 5) | (df['주문시간'].dt.weekday == 6)
weekends = sum(weekend)
weekdays = sum(~weekend)
#2
abs(weekends - weekdays)

412

In [35]:
#31
df = pd.read_csv('part1/ch3/delivery_time.csv')
#1
df['user_no'] = df['user'].str[5:]
df.head()
df['user_no'] = df['user_no'].astype(int)
df['user_no'].sum()

np.int64(261387)

In [46]:
#32
df = pd.read_csv('part1/ch3/school_data.csv')
#1
re1 = df[['수학', '영어', '국어']].sum(axis=1)
#2
top10 = re1.sort_values(ascending=False).iloc[:10]
#3
re = df.loc[top10.index[:]]['수학'].mean()
round(re, 0)

np.float64(82.0)

In [75]:
#33
df = pd.read_csv('part1/ch3/school_data.csv')
#1
df['min'] = df.min(numeric_only=True, axis=1)
smallest_scores = df['min'].nsmallest(25)
melted = df.melt(id_vars=['이름'], value_vars=['수학', '영어', '국어'])
#2
melted['value'].nsmallest(25).sum()

np.int64(420)

In [85]:
#34
df = pd.read_csv('part1/ch3/school_data.csv')
df_science = pd.read_csv('part1/ch3/school_data_science.csv')
#1
df = pd.concat([df, df_science], axis=1, join='inner')
df.head()
#2
df['mean'] = df[['수학', '영어', '국어', '과학']].mean(numeric_only=True, axis=1)
#3
cond = df['mean'] >= 60
sum(cond)

9

In [89]:
#35
df = pd.read_csv('part1/ch3/school_data.csv')
df_social = pd.read_csv('part1/ch3/school_data_social.csv')
#1
merged = pd.merge(df, df_social, on='이름')
#2
cond = (merged['영어교사'] == '장선생') & (merged['사회교사'] == '오선생')
filtered = merged[cond]
#3
filtered['수학'].sum()

np.int64(602)

In [110]:
#36
df = pd.read_csv('part1/ch3/sales.csv')
#1
df['평균판매금액'] = df.groupby('지역코드')['판매금액'].transform('mean')
df['판매금액'] = df['판매금액'].fillna(df['평균판매금액'])
df.head()
#2
df['diff'] = abs(df['평균판매금액'] - df['판매금액'])
#3
df.groupby('지역코드')['diff'].mean().idxmax()

np.int64(103)

In [132]:
#37
df = pd.read_csv('part1/ch3/store_sales.csv')
#1
df['rev'] = df['판매수량'] * df['단가']
#2
def is_weekend(d):
    if d == '토' or d == '일':
        return True
    else:
        return False
df['weekend'] = df['요일'].apply(is_weekend)
stores = df.groupby(['매장코드', 'weekend'])['rev'].sum().unstack()
#3
stores['diff'] = abs(stores[False] - stores[True])
stores['diff'].max()

np.int64(241975)

In [143]:
#38
df = pd.read_csv('part1/ch3/region_sales.csv')
#1
pivoted = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product', values='Sales', aggfunc='sum')
#2
pivoted['a_ratio'] = pivoted['A'] / (pivoted['A'] + pivoted['B'])
#3
round(pivoted['a_ratio'].max(), 2)

np.float64(0.51)

In [155]:
#39
df = pd.read_csv('part1/ch3/monthly_sales.csv')
#1
melted = pd.melt(
    df,
    id_vars='Region',
    value_vars=['Jan', 'Feb', 'Mar'],
    var_name='Month',
    value_name='Sales'
)
sales = melted.groupby(['Region', 'Month'])['Sales'].sum().reset_index()
#2
sum(sales['Sales'] > 1400)

6